body {
  background-color: #f5f0ea;
}

header {
  background-color: #f5f0ea;
  height: 100vh;
  display: flex;
}

section {
  padding-top: 3rem;
}

h1 {
  font-size: 6vmax;
  line-height: 1.2em;
  color: #291608;
  text-align: center;
  font-family: 'Yeseva One', cursive;
  margin: auto;
}

h2 {
  font-family: 'Urbanist', sans-serif;
  color: #f78417;
}

.container {
  font-family: 'Literata', serif;
}

.col-md-4 {
  text-align: justify;
  font-weight: 300;
}

footer {
  background-color: #291608;
}
